/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/queue.pid
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
/runtime/*
/app/Http/Controllers/Admin/TestController.php
/public/.htaccess
test.txt
